@import '../../scss/variables';
@import '../../scss/mixins';

.main-title {
  padding: 62px 24px 24px;
  color: #fff;
  background: $accent-gradient;
  border-radius: 10px;

  &__strong {
    @include jost-700;
    display: block
  }

  &__span {
    @include jost-500;
    display: block
  }
}