@import '../../scss/mixins';

.details {
  width: 730px;
  margin: 129px auto;

  &__header {
    @include flex-display;
    justify-content: space-between;

    &-link {
      @include flex-display;
      @include jost-700;
      column-gap: 16px;
      font-size: 14px;
      color: #647196;
    }
  }

  &__add-comment {
    margin-top: 24px;
  }
}