@import "../../scss/mixins";

.add-feedback-btn {
  @include jost-700;
  display: inline-block;
  padding: 12px 25px;
  font-size: 14px;
  color: #F2F4FE;
  background: #ad1fea;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  &--gray {
    background: #3A4374;
  }

  &--success {
    background: #4661E6;
  }

  &--danger {
    background: #D73737;
  }
}
