@import "../../scss/mixins";

.edit-feedback-btn {
  @include jost-700;
  padding: 12px 25px;
  font-size: 14px;
  color: #f2f4fe;
  background: #4661e6;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
