@import "../../scss/mixins";

.roadmap-filter {
  margin-top: 24px;
  padding: 19px 24px 24px;
  background: #fff;
  border: none;
  border-radius: 10px;

  &__heading {
    @include flex-display;
    margin-bottom: 24px;
    justify-content: space-between;
  }

  &__title {
    @include jost-700;
    color: #3a4374;
  }

  &__link {
    @include jost-600;
    text-decoration-line: underline;
    color: #4661e6;
  }

  &__list {
    @include flex-display;
    padding-left: 24px;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 8px;

    &-item {
      @include flex-display;
      width: 100%;
      justify-content: space-between;
      position: relative;

      &::before {
        content: "";
        width: 8px;
        height: 8px;
        display: inline-block;
        background-color: #AD1FEA;
        border-radius: 50%;
        position: absolute;
        top: 12px;
        left: -24px;
      } 

      &:first-child::before {
        background-color: #f49f85;
      }

      &:nth-child(2)::before {
        background-color: #85f4a4;
      }

      &:last-child::before {
        background-color: #62BCFA;
      }

      &--span {
        @include jost-700;
      }
    }
  }
}
