@import '../../scss/variables';

.category-radio {
  padding: 5px 16px;
  border-radius: 10px;
  background: #F2F4FF;
  cursor: pointer;
  transition: .5s linear all;

  &__input,
  &__text {
    pointer-events: none;
  }

  &--active {
    background-color: $accent-blue;

    & .category-radio__text {
      color: #FFFFFF;
    }
  }
}